In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./save.csv')
df.head()

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,position,itl,pwr,def,mbl,stl,generation
0,0,0.0,0.0,0.0,0.0,"[0.0, 0.0, 20, 0]",5,5,5,20,5,0
1,1,1.0,1.0,0.0,NaN,"[0.0, 0.0, 20, 0]",5,5,5,20,5,0
2,2,2.0,0.0,NaN,NaN,"[0.0, 0.0, 20, 0]",5,5,5,20,5,0
3,3,0.0,NaN,NaN,NaN,"[0.0, 0.0, 20, 0]",5,5,5,20,5,1
4,0,NaN,NaN,NaN,NaN,"[0.0, 0.0, 20, 0]",5,5,5,20,5,2